\\ APRESENTAÇÂO

.conteudo_principal__background {
    padding: 0;
    width: 100%;
    height: 872px;
    background-image: url(/assets/image/Decore.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.conteudo_principal__apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 535px;
    gap: 30px;
}

.conteudo__titulo {
    color: #DF6951;
    font-family: var(--font-volkhov);
    font-weight: 700;
    font-size: 20px;
}

.conteudo__subtitulo {
    font-weight: 800;
    font-size: 84px;
}

.conteudo__paragrafo {
    font-family: 'Poppins', sans-serif;
    color: var(--cor-cinza);
}

.conteudo__botoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.button {
    padding: 19px 27px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F1A501;
}

.play_demo:hover {
    color: var(--cor-cinza);
}

.play_demo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

.play_demo__botao {
    padding-top: 25px;
}

\\ CATEGORIA

.conteudo_principal__categoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6% 10% 0% 10%;
    }

.categoria_textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.textos_descricao {
    font-size: 18px;
    color: var(--cor-cinza);
    font-family: var(--font-poppins);
    font-weight: 600;
}

.textos_titulo {
    font-size: 50px;
    font-family: var(--font-volkhov);
}

.servicos {
    display: flex;
    align-items: center;
    padding-top: 70px;
    justify-content: center;
    gap: 170px;
}

.servico {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    width: 190px;
    max-height: 227px;
}

.servico_textos {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding-top: 130px;
}

.servico_titulo {
    font-size: 20px;
    font-family: var(--font-opensans);
}

.servico_paragrafo {
    font-size: 16px;
    color: var(--cor-cinza);
    font-family: var(--font-poppins);
}

.servico_plane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    max-height: 227px;
}

.plane_textos {
    display: flex;
    font-size: 16px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}

\\ TOP SELLING

.conteudo_principal__top-selling {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 10%;
}

.top-selling__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 6% 10% 0% 10%;

}

.textos__descricao {
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--cor-cinza);
}

.textos__titulo {
    font-size: 50px;
    font-weight: 600;
    font-family: var(--font-volkhov);
}

.top-selling__destinos {
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding-top: 70px;
}
